@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">Page de contact</h2>
    <br />
    <p>
        Vous avez un quelconque problème sur le site web ?
        <br />
        Contactez l'administrateur ou le système des Ressources Humaines,
        <br />
        disponibles <strong>toute la semaine hors week-end et jours fériés.</strong>
    </p>

    <address>
        <strong>Pôle des R. H. :</strong>   <a href="mailto:pole-rh@ambradone.fr">pole-rh@ambradone.fr</a><br />
        <strong>Administrateur :</strong> <a href="mailto:jus.lncel@gmail.com">jus.lncel@gmail.com</a>
    </address>
</main>