@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">MobilyT</h1>
        <p class="lead">Bienvenue sur l'application de Mobilité Professionnelle de l'entreprise Ambradone.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>
</main>