@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">MobilyT</h1>
        <p class="lead">Bienvenue sur l'application de Mobilité Professionnelle de l'entreprise Ambradone.</p>
        <p><a href="@Url.Action("Index", "AspNetUsers")" class="btn btn-primary btn-md">Utilisateurs &raquo;</a></p>
        <p><a href="@Url.Action("Index", "T_entreprise")" class="btn btn-primary btn-md">Entreprises &raquo;</a></p>
        <p><a href="@Url.Action("Affichage", "T_profil")" class="btn btn-primary btn-md">Mon profil &raquo;</a></p>
        <p><a href="@Url.Action("Affichage", "T_offre_emploi")" class="btn btn-primary btn-md">Mon offre d'emploi &raquo;</a></p>
    </section>
</main>